@import '_reset.scss';
@import '_font_fontawesome.scss';
@import '_font_opensans.scss';
@import '_sprite.scss';
@import '_mixin.scss';
$width: 980px;
$footer: 100px;
$footer_margin: $footer - 2 * $footer;
$color: #444;
$color_a: #000;
$red: red;
$orange: #ff8b00;
$trs: all .5s;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;

  color: $color;
}
a {
  transition: $trs;

  color: $color_a;
  &:hover {
    color: lighten($color_a, 10%);
  }
  &:active {
    color: lighten($color_a, 20%);
  }
}

.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.inner {
  position: relative;

  width: $width;
  height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.bgc {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  height: 105px;

  background-color: #000;
  background-color: rgba(0, 0, 0, .85);
  h1 {
    font-size: 25px;
    font-weight: lighter;
    font-style: italic;

    position: absolute;
    top: 10px;
    left: 0;

    color: #fff;
  }
  .logo {
    position: absolute;
    bottom: 20px;
    left: 0;

    display: block;

    width: 320px;
    img {
      max-width: 100%;
    }
  }
  .nav {
    position: absolute;
    right: 0;
    ul {
      display: block;
      li {
        display: inline-block;
        a {
          font-weight: 500;

          text-decoration: none;
          text-transform: uppercase;

          color: #fff;
        }
      }
    }
  }
  .phone {
    font-size: 40px;
    font-weight: 300;

    position: absolute;
    right: 0;
    bottom: 30px;

    display: block;

    width: 265px;

    text-align: right;
    text-decoration: none;

    color: #fff;
  }
  .recall {
    font-size: 10px;

    position: absolute;
    right: 0;
    bottom: 15px;

    display: block;

    width: 265px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    span {
      border-bottom: 1px dotted #fff;
    }
    &:hover {
      color: $red;
      span {
        border-bottom: 1px solid $red;
      }
    }
  }
  .socials {
    position: absolute;
    bottom: 25px;
    left: 400px;

    display: block;
    li {
      display: inline-block;

      margin: 0 3px;

      border: 1px solid transparent;
      border-radius: 50%;
      a {
        font-size: 25px;
        line-height: 1.7;

        display: block;

        width: 45px;
        height: 45px;

        text-align: center;
        text-decoration: none;

        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;

        @extend .fa;
      }
      &:hover {
        color: $red;
        a {
          color: $red;
          border: 1px solid $red;
        }
      }
    }
  }
}
input,
button {
  outline: none;
}
section {
  width: 100%;
  padding: 0 0 $footer;
}
article {
  position: relative;
  z-index: 0;

  width: 100%;
}
.head-block {
  height: 1000px;

  color: #fff;
  &:before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: '';

    background-color: rgba(0, 0, 0, .4);
  }
  .inner {
    position: relative;
    z-index: 2;
  }
  h2 {
    font-size: 70px;
    line-height: 1.3;

    position: absolute;
    top: 200px;
    left: 0;

    margin: 0 auto;
    padding: 0 90px;

    text-align: center;
  }
  h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4;

    position: absolute;
    top: 450px;
    left: 0;

    width: 300px;

    text-transform: uppercase;
    &:after {
      position: absolute;
      bottom: -10px;
      left: 0;

      display: block;

      width: 150px;
      height: 10px;

      content: '';

      background-color: $orange;
    }
  }
  h4 {
    font-size: 20px;
    font-style: italic;

    position: absolute;
    top: 560px;
    left: 0;

    color: #fff;
  }
  h5 {
    font-size: 50px;
    font-weight: bold;

    position: absolute;
    top: 450px;
    left: 400px;

    color: $orange;
    span {
      font-size: 30px;
      font-weight: normal;

      position: absolute;
      top: -40px;
      right: -50px;

      text-decoration: line-through;

      color: #fff;
    }
  }
  form {
    position: absolute;
    top: 530px;
    right: 0;

    width: 300px;
    p {
      font-size: 20px;
      line-height: 1.4;

      width: 60%;
      margin: 0 0 10px;
    }
    input {
      width: 100%;
      height: 30px;
      margin: 0 0 10px;
      padding: 5px;

      color: #fff;
      border: 0;
      border-radius: 3px;
      background-color: transparent;
      background-color: #000;
      background-color: rgba(0, 0, 0, .5);
    }
    button {
      width: 100%;
      height: 30px;
      padding: 5px 5px 0;

      text-align: center;
      text-transform: uppercase;

      border: 0;
      border-bottom: 3px solid $orange;
      border-radius: 3px;
      background-color: $orange;
      &:hover {
        border-bottom-color: darken($orange, 15%);
        background-color: darken($orange, 5%);
      }
    }
    span {
      font-size: 13px;
      line-height: 1.2;

      position: absolute;
      right: 0;
      bottom: -35px;

      display: block;

      width: 260px;

      text-align: right;

      color: #fff;
    }
  }
  .action-timer {
    position: absolute;
    top: 540px;
    left: 400px;

    width: 250px;

    @extend .clearfix;
    p {
      font-size: 14px;
      line-height: 1.4;

      display: block;
      float: left;

      width: 50%;
      height: 60px;
      margin: 0;
      padding-top: 5px;
    }
    h6 {
      font-size: 20px;
      font-weight: normal;

      float: right;

      width: 50%;
      height: 60px;
      span {
        font-size: 60px;
        font-weight: bold;
      }
    }
    .timerok {
      width: 70%;

      @extend .clearfix;
      span {
        font-size: 40px;

        position: relative;
        z-index: 30;

        display: inline-block;
        float: left;

        width: 29%;
        margin: 10px 1.5% 0;
        padding: .5%;

        text-align: center;

        border-radius: 10px;
        background-color: #000;
        &:after {
          font-size: 40px;
          font-weight: normal;

          position: absolute;
          top: -2px;
          right: -9px;

          content: ':';

          color: #fff;
        }
        &:first-child {
          margin-right: 3%;
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
          margin-left: 3%;
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
.may-problem {
  position: relative;
  &:before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: '';

    background-color: rgba(0, 0, 0, .4);
  }
  .inner {
    padding-top: 100px;
    z-index: 2;
  }
  h2 {
    font-size: 44px;

    margin: 0 90px 30px;
    padding: 5px;

    text-align: center;

    color: #000;
    border-radius: 12px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .70);
    &:hover {
      background-color: rgba(255, 255, 255, .90);
    }
  }
  p {
    font-size: 16px;
    line-height: 1.4;

    margin: 0 120px 30px;
    padding: 5px;

    text-align: center;

    color: #000;
    border-radius: 12px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .70);
    &:hover {
      background-color: rgba(255, 255, 255, .90);
    }
    &.bigger {
      font-size: 26px;
    }
  }
  ul {
    width: 100%;

    @extend .clearfix;
    li {
      font-size: 16px;
      line-height: 1.4;

      display: inline-block;
      float: left;

      width: 25%;
      height: 120px;
      margin: 0 4% 20px;
      padding: 5px;

      cursor: pointer;

      color: #000;
      border-radius: 12px;
      background-color: #fff;
      background-color: rgba(255, 255, 255, .70);

      @extend .clearfix;
      span {
        line-height: 1.6;

        display: block;
        float: left;

        width: 30px;
        height: 30px;
        margin: 0 12px 12px 0;

        text-align: center;

        color: $red;
        border: 3px solid $red;
        border-radius: 50%;
      }
      &:hover {
        background-color: rgba(255, 255, 255, .90);
        span {
          color: $orange;
          border-color: $orange;
        }
      }
    }
  }
  .phone {
    position: relative;

    width: 410px;
    margin: 0 auto 50px;

    text-align: center;
    a {
      font-size: 56px;
      font-weight: bold;

      display: block;

      text-align: center;
      text-decoration: none;

      color: #fff;
    }
    span {
      position: absolute;
      right: 0;
      bottom: -10px;

      cursor: pointer;
      text-transform: lowercase;

      color: $red;
      border-bottom: 1px dotted $red;
      &:hover {
        border-bottom: 1px solid $red;
      }
    }
  }
}





footer {
  position: relative;

  width: 100%;
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: #f16529;
  .mainfooter {
    width: $width;
    height: 100%;
    margin: 0 auto;

    background-color: #b3d4fc;
  }
}

@import '_print.scss';
